* {
  box-sizing: border-box;
}

/* Add padding to containers */
.search-container {
  padding: 30px;
  background-color: white;
}

.form-searching {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.btn-success {
  margin-left: 30%;
  margin-right: 50%;
  height: 30px;
  width: 150px;
}
/* Full-width input fields */
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.searching {
  color: black;
}
/* Table {
  align-self: center;
  text-align: center;
} */
